{{include 'page_beginning.html'}}

<link rel="stylesheet" href="{{=URL('static','css/jquery.range.css')}}"/>
<script src="{{=URL('static','js/jquery.range-min.js')}}"></script>
<script>$(document).ready(init_price_range)</script>

      <div id="middle_div">
        <form class="small_margins">
          <div class="form-group col-xs-6"> <!-- left part -->
            <label for="name">Keyword*</label>
            <input class="form-control" id="name" placeholder="Search for...">
            <br>
            <label for="price_range_slider">Price range*</label><br><br>
            <input id="price_range_slider">
            <br><br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Search my collection
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3" checked> Search all collections
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Only search collection of:
            </label>
            <br>
            <div class="col-xs-10">
              <input class="form-control" id="single_collection_owner" placeholder="Search collection of..." disabled>
            </div>
            <br>

          </div>

          <div class="form-group col-xs-6"> <!-- right part -->
            <label>Search in categories</label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <br><br>
            <button type="submit" class="form-control btn btn-default">Perform search</button>
          </div>

        </form>
      </div>

{{include 'page_end.html'}}
