{{include 'page_beginning.html'}}
      <script>$(document).ready (addEnterListeners);</script>

      <div id="middle_div" tabindex="0">
        <h1 class="small_margins h_with_icons">{{=collection.name}}</h1>
        &nbsp;<a href="{{=URL('default','add_to_collection',args=''+str(collection.id))}}"><button class="transp"><span class="glyphicon glyphicon-plus-sign"></span>Add</button></a>
        &nbsp;<a href="{{=URL('default','edit_collection',args=''+str(collection.id))}}"><button class="transp"><span class="glyphicon glyphicon-edit"></span>Edit</button></a>
        &nbsp;<button onclick="deleteCollection(1)" class="transp"><span class="glyphicon glyphicon-trash"></span>Del</button>
      </br><br><br>

        <div class="col-xs-7">
          {{for i in items:}}
          {{if i.image == None:}}
            <a tabindex="0" onclick="getItemAllInfo({{=i.id}});"><div class="item_view_sm"><img data_id="{{=i.id}}" src="{{=URL('static','images/question.jpg')}}" alt="?" class="item_view_sm"><br>{{=i.name}}</div></a>
          {{else:}}
            <a tabindex="0" onclick="getItemAllInfo({{=i.id}});"><div class="item_view_sm"><img data_id="{{=i.id}}" src="{{=URL('default','download', args=i.image)}}" alt="img for {{=i.name}}" class="item_view_sm"><br>{{=i.name}}</div></a>
          {{pass}}
          {{pass}}

        </div>

        <div class="col-xs-5" id="ajax_content_div">
            (Click on an item to view full its information.)
        </div>

      </div>

{{include 'page_end.html'}}
