{{include 'page_beginning.html'}}

      <div id="middle_div" tabindex="0">
        <h1 class="small_margins h_with_icons">{{=collection.name}}</h1>
        &nbsp;<a href="{{=URL('default','add_to_collection',args=''+str(collection.id))}}"><button class="transp"><span class="glyphicon glyphicon-plus-sign"></span>Add</button></a>
        &nbsp;<a href="{{=URL('default','edit_collection',args=''+str(collection.id))}}"><button class="transp"><span class="glyphicon glyphicon-edit"></span>Edit</button></a>
        &nbsp;<button onclick="deleteCollection(1)" class="transp"><span class="glyphicon glyphicon-trash"></span>Del</button>
        </br>
        <div class="centered small_margins">
          {{for i in items:}}
          {{if i.image == None:}}
            <div class="item_view"><img src="{{=URL('static','images/question.jpg')}}" alt="img1" class="item_view"><br><b>{{=i.name}}</b></div>
          {{else:}}
          <div class="item_view"><img src="{{=URL('default','download', args=i.image)}}" alt="img1" class="item_view"><br><b>{{=i.name}}</b></div>
          {{pass}}
          {{pass}}

        </div>
        
      </div>

{{include 'page_end.html'}}
