{{include 'page_beginning.html'}}


      <div id="middle_div" tabindex="0">
        <h1 class="h_with_icons small_margins">My collections</h1>
        &nbsp;<button onclick="window.location.href='../new_collection'" class="transp"><span class="glyphicon glyphicon-plus-sign"></span>Add collection</button>
        <br><br><br><br>
        {{for c in collections:}}
        <h2 class="h_with_icons small_margins">{{=c.name}}</h2>
          &nbsp;<a href="{{=URL('default','collection',args=''+str(c.id))}}"><button class="transp"><span class="glyphicon glyphicon-eye-open"></span>View</button></a>
          &nbsp;<a href="{{=URL('default','add_to_collection',args=''+str(c.id))}}"><button class="transp"><span class="glyphicon glyphicon-plus-sign"></span>Add</button></a>
          &nbsp;<a href="{{=URL('default','edit_collection',args=''+str(c.id))}}"><button class="transp"><span class="glyphicon glyphicon-edit"></span>Edit</button></a>
          &nbsp;<button onclick="deleteCollection({{=c.id}})" class="transp"><span class="glyphicon glyphicon-trash"></span>Del</button>
        <div class="centered small_margins">
          <a href="{{=URL('default','collection',args=''+str(c.id))}}">
          {{tot = 0}}
          {{for i in items:}}
            {{if c.id in i.inCollection:}}
              {{tot += 1}}
              {{if tot < 6:}}
                {{if i.image == None:}}
                  <div class="item_view"><img src="{{=URL('static','images/question.jpg')}}" alt="?" class="item_view"><br><b>{{=i.name}}</b></div>
                {{else:}}
                  <div class="item_view"><img src="{{=URL('default','download', args=i.image)}}" alt="img for {{=i.name}}" class="item_view"><br><b>{{=i.name}}</b></div>
                {{pass}}
              {{pass}}
            {{pass}}
          {{pass}}
          {{if tot > 5:}}
            <div class="others_div">+ {{=tot-5}} other(s)</div>
          {{pass}}
          </a>
          </div>
        <br><br>


        {{pass}}


      </div>


{{include 'page_end.html'}}
