{{include 'page_beginning.html'}}

      <div id="middle_div">
        <h1 class="small_margins">Edit collection</h1>
        <form class="small_margins">
          <div class="form-group col-xs-6">
            <label for="name">Name*</label>
            <input class="form-control" id="name" placeholder="Name of collection..." value="TEST">
          </div>
          <div class="checkbox col-xs-12">
            <label>
              <input type="checkbox" checked> Private
            </label>
          </div>
          <div class="col-xs-12">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
          </form>
      </div>

{{include 'page_end.html'}}
