{{include 'page_beginning.html'}}

      {{if not auth.user:}}
        <script>$(document).ready (redirToHome);</script>
      {{pass}}
      <div id="middle_div" tabindex="0">
        <form class="small_margins">
          <div class="form-group col-xs-6"> <!-- left part -->
            <label for="name">Name*</label>
            <input class="form-control" id="name" value="TEST" placeholder="Name of item...">
            <br>
            <label for="item_value">Value*</label>
            <input class="form-control" id="item_value" value="£20" placeholder="Value of item...">
            <br>
            <label for="private">
              <input type="checkbox" id="private"> Private
            </label>
            <br>
            <label>Select corresponding categories*</label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1" checked> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> Category A
            </label>
            <br>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Category A
            </label>
          </div>

          <div class="form-group col-xs-6"> <!-- right part -->
            <label for="item_image">Image</label>
            <input type="file" id="item_image">
            <br>
            <label for="description">Description*</label>
            <textarea class="form-control" id="description" rows="8" placeholder="Please enter item description..."></textarea>
            <br>
            <button type="submit" class="form-control btn btn-primary">Submit</button>
          </div>

        </form>
      </div>

{{include 'page_end.html'}}
