<div class="modal fade" id="faq_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="trade_modal modal-dialog" role="document">
    <div class="trade_modal modal-content">
      <div class="trade_modal modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel2">Full FAQ</h1>
      </div>
      <div class="trade_modal modal-body">
        Image tutorial or Text instructions? Images would be better, meets a deisgn guideline too.
        <br><br>
        1) I'm new! How do I get started? [This one is key! Allows new users to navigate around without bothering long term users]
        <br><br>
        2) How do I Trade? [Could have this on the trade screen too]
        <br><br>
        3) I can't find an item I want for my wish list? [When you think wishlist most think add items i've seen to it. Make sure they know that they can create an item to add to it too.]
        <br><br>
        4) Can the same item be in multiple collections? [Simple question, simple answer]
        <br><br>
        5) Any tips and tricks you can share? [If we have any shortcuts and stuff we can put them here]
      </div>
      <br><br>
    </div>
  </div>
</div>
