<div class="modal fade" id="faq_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="trade_modal modal-dialog" role="document">
    <div class="trade_modal modal-content">
      <div class="trade_modal modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel2">Full FAQ</h1>
      </div>
      <div class="trade_modal modal-body">
        <h4 class = "modal-greeting" id="tradeModalGreeting1"> Welcome to Whatever! The trading site that allows you to create, store and trade whatever you want!</h4> <br>
          <h5><b> I'm new! How do I get started? </b></h5>
          First off welcome! Let's get you started: <br>
          To begin you'll need an account. Sign up by clicking "Login" at the top right of the screen, then the button labelled "Sign up". Give yourself a username and a password. It's free and requires nothing on your part. <br>Your account gives you a access to the whole of our site and gives you a fresh default collection to start storing items in.
          <br><br>
          Want to add items?
          <br>
         1) Head over to "My Collections" <br>
         2) Click on the "Add item to collection" button next to your default collection. <br>
         3) Follow the wizard on screen. <br>
         4) Once you've entered all of your items details, click submit! <br>
         5) Voila! Your new item has been added to the collection! <br>
         <br>
         Want your own named collections?
         <br>
         1) In "My Collections" click "Add new collection" at the top of the area.<br>
         2) Give your collection a name!<br>
         3) Make it "Private" just for you. Or "Public" for the world to see.<br>
         4) Click submit! Now you can add items to it like the default collection.<br>
          <br>
         Want to Trade?<br>
         See: "How do I trade?" below.<br>
          <br>
         Want to just Explore?<br>
         Use the search bar at the top of the screen to search quickly through all of our public collections. For a more detailed search. Try "Advanced Search" on the left.<br>

          <h5><b> How do I Trade? </b></h5>
          To trade an item you need to do two things:<br><br>
          1) Add your item that you wish to trade away to your "Tradeable items". This can be done by finding your item in "My Collections", clicking it and selecting the "Add to tradable items" button that appears in the detailed view on the right.<br><br>
          2) Find an item you want! Use the search to find anything you want. Click on it and select "Offer Trade" from the options that appear on the right. <br><br>
          Once you've done this you will be taken to the "Trade Room". Here you drag items from the "Your tradeable" box to the "You are giving" box, and drag what you want from the "Their items" box to the "You are getting" box. <br> Once your happy, click the "Propose trade" button in the bottom left. Now you wait for your deal to be accepted or countered. <br>
          You keep track of your trades, both ongoing and completed in the "My transactions" section. Have fun!<br>
          <h5><b> I can't find an item I want for my wish list? </b></h5>
          Worry not! We may not have everything but we have a way of letting people know that you want something! In the "My wishlist" you can click a button called "Add new item to wishlist" and create the item you want to trade for much like adding an item. This lets other know what your looking for and comes up in searches to allow others to offer trades offering that item. <br>
          <h5><b> Can the same item be in multiple collections? </b></h5>
          The answer here is both yes and no. Yes you can add a copy of an item to any number of collections you want. No because these items are simply copies of your original item not the same item. But don't let that stop you!
        <br>
          <h5><b>Any tips and tricks you can share? </b></h5>
      </div>
      <br><br>
    </div>
  </div>
</div>
