{{include 'page_beginning.html'}}

    {{if not auth.user:}}
      <script>$(document).ready (redirToHome);</script>
    {{pass}}
    <script>$(document).ready (addEnterListeners);</script>

      <div id="middle_div" tabindex="0">
        <h1 class="small_margins">My have list</h1>
      </br>


      <div id="middle_div" tabindex="0">

        <div class="col-xs-7">
          {{for i in items:}}
          {{if i.image == None:}}
            <a tabindex="0" onclick="getItemAllInfo({{=i.id}});"><div class="item_view_sm"><img data_id="{{=i.id}}" src="{{=URL('static','images/question.jpg')}}" alt="?" class="item_view_sm"><br>{{=i.name}}</div></a>
          {{else:}}
            <a tabindex="0" onclick="getItemAllInfo({{=i.id}});"><div class="item_view_sm"><img data_id="{{=i.id}}" src="{{=URL('default','download', args=i.image)}}" alt="img for {{=i.name}}" class="item_view_sm"><br>{{=i.name}}</div></a>
          {{pass}}
          {{pass}}

        </div>

        <div class="col-xs-5" id="ajax_content_div">
            (Click on an item to view full its information.)
        </div>

      </div>



        <div class="col-xs-7">
          <button onclick="window.location.href='add_to_havelist'" class="transp small_margins"><span class="glyphicon glyphicon-plus-sign"></span>Add new item to have list</button>
        </div>


      </div>

{{include 'page_end.html'}}
