{{include 'page_beginning.html'}}

      <div id="middle_div">
        <h1 class="small_margins">Welcome to Whatever</h1>
        <p class="small_margins">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
          bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
          justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
          fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
          sed rhoncus sapien nunc eget odio.
          ************************************************************
        </p>

        <h1 class="small_margins">My collection</h1>
        <p class="centered small_margins"><button class="btn btn-default centered">New collection</button></p>

        <h2 class="small_margins">Collection A</h2>
        </br>
        <div class="centered small_margins">
          <div class="item_view"><img src="../static/images/question.jpg" alt="img1" class="item_view"><br>whatever</button></div>
          <div class="item_view"><img src="../static/images/question.jpg" alt="img2" class="item_view"><br>whatever</button></div>
          <div class="item_view"><img src="../static/images/question.jpg" alt="img3" class="item_view"><br>whatever</button></div>
          <div class="item_view"><img src="../static/images/question.jpg" alt="img4" class="item_view"><br>whatever</button></div>
          <div class="item_view"><img src="../static/images/question.jpg" alt="img5" class="item_view"><br>whatever</button></div>

        </div>

        <div class="centered small_margins">
          <span class="centered"><button class="btn btn-default">Edit collection</button></span>
          <span class="centered"><button class="btn btn-default">Add item to collection</button></span>
          <span class="centered"><button class="btn btn-default">Remove collection</button></span>
        </div>
      </div>

{{include 'page_end.html'}}
