{{include 'page_beginning.html'}}

      <div id="middle_div" tabindex="0">
        <h1 class="small_margins">Welcome to Whatever</h1>
        {{if request.args(0) == 'register':}}
           <script>$(document).ready (showLoginModal());</script>
          {{elif request.vars['_next'] != None:}}
           <script>$(document).ready (showLoginModal());</script>
        {{pass}}

        <p class="small_margins">

          Welcome to Whatever! The site where you can show off whatever you collect! Find whatever you wish to collect!
            And trade whatever you want to with other members. Sign up now to experience all the features that we have to offer.
            Go ahead! You know you want to!

      </div>

{{include 'page_end.html'}}
