{{include 'page_beginning.html'}}

      <div id="middle_div" tabindex="0">
        <h1 class="small_margins">Welcome to Whatever</h1>
        <p class="small_margins">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
          bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
          justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
          fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
          sed rhoncus sapien nunc eget odio.
          ************************************************************
        </p>
      </div>

{{include 'page_end.html'}}
