<div class="modal fade" id="trade_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="trade_modal modal-dialog" role="document">
    <div class="trade_modal modal-content">
      <div class="trade_modal modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel2">Wider trade view</h1>
      </div>
      <div class="trade_modal modal-body">
        <div>
          <br>
          <span class="glyphicon glyphicon-info-sign small_margins go_left"></span>
          <p class="small_margins ">

            &nbsp; In order to trade, please drag items you want to offer from <b>Your items</b> into <b>You are giving</b>.<br>
            &nbsp; Similarly, drag items you want from <b>Their items</b> into <b>You are getting</b>.
          </p>
          <br>
          <div id="modal_trade_st">
            {{include 'default/trade_shared.html'}}
          </div>
      </div>

        <div class="col-xs-12 warning">Warning: Pressing <b>esc</b> or <b>clicking outside of trade view </b> before clicking
          <button class="transp small_margins" disabled><span class="glyphicon glyphicon-shopping-cart"></span>Propose trade</button>
          discards all changes.
        </div>
        <div class="trading_div_errors"></div>
      </div>
      <button onclick="proposeChosTrade()" class="propose_trade transp small_margins"><span class="glyphicon glyphicon-shopping-cart"></span>Propose trade</button>
      <br><br><br>
    </div>
  </div>
</div>
