{{include 'page_beginning.html'}}
    {{if not auth.user:}}
      <script>$(document).ready (redirToHome);</script>
    {{pass}}

      <div id="middle_div">
        <h1 class="small_margins">Ongoing transactions</h1>
          <p class="small_margins">
            There are currently no ongoing transactions.<br>
            To offer a trade, search for an item and look for <b>Offer to trade</b> button.
          </p>
        <br>
        <h1 class="small_margins">Completed transactions</h1>

        <br>
        <div class="small_margins">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Traded with</th>
                <th>Items received</th>
                <th>Items sent</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody class="table-striped table-bordered">
              <tr>
                <td>04Mar16</td>
                <td>Awiol</td>
                <td>
                  pen<br>pencil<br>whatever</br>
                </td>
                <td>
                  pen<br>pencil<br>whatever</br>
                </td>
                <td><b>Completed</b><br><button class="transp "><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;View transaction</button></td>
              </tr>

              <tr>
                <td>04Mar16</td>
                <td>Awiol</td>
                <td>
                  pen<br>whatever</br>
                </td>
                <td>
                  pencil<br>whatever</br>
                </td>
                <td><b>Offer received</b><br><button class="transp "><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;View their offer</button></td>
              </tr>

              <tr>
                <td>04Mar16</td>
                <td>Awiol</td>
                <td>
                  pen<br>whatever</br>
                </td>
                <td>
                  pencil<br>whatever</br>
                </td>
                <td><b>Offer sent</b><br><button class="transp "><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;View your offer</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

{{include 'page_end.html'}}
