{{include 'page_beginning.html'}}
    {{if not auth.user:}}
      <script>$(document).ready (redirToHome);</script>
    {{pass}}

      <div id="middle_div">
        <h1 class="small_margins">Ongoing transactions</h1>
          <div class="small_margins">
            There are currently no ongoing transactions.<br>
            To offer a trade, search for an item and look for <b>Offer to trade</b> button.
            <br><br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Traded with</th>
                  <th>Items received</th>
                  <th>Items sent</th>
                  <th>Status</th>
                </tr>
              </thead>
                <tr>
                  <td>Awiol</td>
                  <td>
                    pen, whatever
                  </td>
                  <td>
                    pencil, whatever
                  </td>
                  <td><b>Offer received</b><br><button class="transp "><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;View their offer</button></td>
                </tr>

                <tr>
                  <td>Awiol</td>
                  <td>
                    pen, whatever
                  </td>
                  <td>
                    pencil, whatever
                  </td>
                  <td><b>Offer sent</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        <br>
        <h1 class="small_margins">Completed transactions</h1>
        There are currently no completed transactions.<br>
        <br><br>
        <div class="small_margins">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Traded with</th>
                <th>Items received</th>
                <th>Items sent</th>
              </tr>
            </thead>
            <tbody class="table-striped table-bordered">
              <tr>
                <td>Awiol</td>
                <td>
                  pen, pencil, whatever
                </td>
                <td>
                  pen, pencil, whatever
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

{{include 'page_end.html'}}
