{{include 'page_beginning.html'}}
    {{if not auth.user:}}
      <script>$(document).ready (redirToHome);</script>
    {{pass}}

      <div id="middle_div">
        <h1 class="small_margins">Ongoing transactions</h1>
          <div class="small_margins">
            {{if offer_received == [] and offer_sent == []:}}
            There are currently no ongoing transactions.<br>
            To offer a trade, search for an item and look for <b>Offer to trade</b> button.<br>
            Only items in the tradable items list can be traded with other members.
                Look for the <b>Add to tradable items</b> button.
            {{else:}}
                 To offer a trade, search for an item and look for <b>Offer to trade</b> button.<br>

                 Only items in the tradable items list can be traded with other members.
                 Look for the <b>Add to tradable items</b> button.

            <br><br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Traded with</th>
                  <th>Items received</th>
                  <th>Items sent</th>
                  <th>Status</th>
                </tr>
              </thead>
                {{for x in offer_sent:}}
                <tr>
                  <td>{{=x['trade_partner'].username}}</td>
                  <td>
                    {{=x['items_received']}}
                  </td>
                  <td>
                    {{=x['items_sent']}}
                  </td>
                  <td><b>Offer sent</b>
                </tr>
                {{pass}}

                {{for x in offer_received:}}
                <tr>
                  <td>{{=x['trade_partner'].username}}</td>
                  <td>
                    {{=x['items_received']}}
                  </td>
                  <td>
                    {{=x['items_sent']}}
                  </td>
                  <td><b>Offer received</b><br><button onclick="proposeTrade({{=auth.user.id}},{{=x['trade_partner']}},{{=x['trade_id']}})" class="transp "><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;View their offer</button></td>
                </tr>
              {{pass}}
                {{pass}}

              </tbody>
            </table>
          </div>
        <br>
        <h1 class="small_margins">Completed transactions</h1>
        {{if completed == []:}}
        There are currently no completed transactions.<br>
        {{else:}}
        <br><br>
        <div class="small_margins">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Traded with</th>
                <th>Items received</th>
                <th>Items sent</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody class="table-striped table-bordered">
            {{for x in completed:}}
              <tr>
                <td>{{=x['trade_partner'].username}}</td>
                <td>
                  {{=x['items_received']}}
                </td>
                <td>
                  {{=x['items_sent']}}
                </td>
              <td><b>Trade completed. Check 'My collections' for traded items.</b></td>

              </tr>
            {{pass}}
            </tbody>
          </table>
        </div>
        {{pass}}
      </div>

{{include 'page_end.html'}}
