{{include 'page_beginning.html'}}
    {{if not auth.user:}}
      <script>$(document).ready (redirToHome);</script>
    {{pass}}

      <div id="middle_div" tabindex="0">
        <h1 class="small_margins h_with_icons">Trade</h1>
        <button id="better_trade_view" onclick="$('#trade_modal').modal('show');" class="transp small_margins"><span class="glyphicon glyphicon-fullscreen"></span>Wider view</button>
        {{include 'default/trade_shared.html'}}
        <div class="trading_div_errors"></div>
      </div>

        <button id="propose_trade" onclick="proposeChosTrade()" class="transp small_margins"><span class="glyphicon glyphicon-shopping-cart"></span>Propose trade</button>
        {{include 'default/trade_modal.html'}}
      </div>
    </div>

{{include 'page_end.html'}}
