<script>$(document).ready (initTrade);</script>

<br>
<span class="glyphicon glyphicon-info-sign small_margins go_left"></span>
<p class="small_margins ">

  &nbsp; In order to trade, please drag items you want to offer from <b>Your items</b> into <b>You are giving</b>.<br>
  &nbsp; Similarly, drag items you want from <b>Their items</b> into <b>You are getting</b>.
</p>
<br>

<div class="col-xs-12">
<div class="col-xs-3">
  <p><b>Your tradeables</b></p>
  <ol id="sortable1" class="connectedSortable">
    {{for i in user1Tradables:}}
    <li data-id="{{=i.id}}" tabindex="0" class="ui-state-highlight clickable">{{=i.name}}</li>
    {{pass}}
  </ol>
</div>

<div class="col-xs-3">
  <p><b>You are giving</b></p>
  <ol id="sortable2" class="connectedSortable"></ol>
</div>

<div class="col-xs-3">
  <p><b>You are getting</b></p>
  <ol id="sortable3" class="connectedSortable2"></ol>
</div>

<div class="col-xs-3">
  <p><b>Their items</b></p>
  <ol id="sortable4" class="connectedSortable2">
    {{for i in user2Tradables:}}
    <li data-id="{{=i.id}}" tabindex="0" class="ui-state-highlight clickable">{{=i.name}}</li>
    {{pass}}
  </ol>
</div>
