<!DOCTYPE html>
<html xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/whatever.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/jquery-ui.css')}}"/>

    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/jquery-ui.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/whatever.js')}}"></script>
    <script>$(document).ready (doStuffOnload);</script>


</head>
  <title>
    Whatever sdf
  </title>
  <body>
    <header role="banner">
      <div id="header_top">
        <div class="header_left">
          <a href="#middle_div"><button class="btn btn-link"> Skip to content </button></a>
          <a href="#top_search"><button class="btn btn-link sml_spacing"> Skip to search </button></a>
          <button id="dyslexia_btn" class="btn btn-link sml_spacing" onclick="toggleDyslexia()"> Dyslexia </button>
          <button id="high_contrast_btn" class="btn btn-link med_spacing" onclick="toggleContrast()"> Contrast </button>

          <button id="sm_a" class="btn btn-link" onclick="decFont()">A-</button>
          <button class="btn btn-link" onclick="applySizing(14)">A</button>
          <button id="aa" class="btn btn-link" onclick="incFont()">A+</button>
        </div>
        <div class="header_right">
          {{if auth.user:}} <!--Have username and logout if logged in-->
          <a href="{{=URL('default','collections')}}"><button class="btn btn-link sml_spacing">{{=auth.user.username}}</button></a>
          <a href="{{=URL('default','user/logout')}}"><button class="btn btn-link">Logout</button></a>

          {{else:}} <!--Have register and login buttons if not logged in-->
          <!--<a href="{{=URL('default','user/register')}}"><button class="btn btn-link sml_spacing">Register</button></a>-->
          <!--<a href="{{=URL('default','user/login')}}"><button class="btn btn-link">Log in</button></a>-->

          <button class="btn btn-link" data-toggle="modal" data-target="#myModal">Log in / Register</button>
           {{include 'default/login_modal.html'}}
          {{pass}}

        </div>
      </div>


      <div id="header_bottom">
            <a href="{{=URL('default', 'index')}}">
              <img src="{{=URL('static','images/whatever.png')}}" class="small_margins picture button_to_image" alt="page-logo">
            </a>
        <form class="properly_centered" method='post' action={{=URL('default','quick_search')}}>
          <div class="properly_centered">
          <div id='search_div' class="col-md-5 small_margins">
            <div class="input-group">
              <label for="top_search" class="sr-only">Perform search</label>
              <input type="text" name="top_search" id="top_search" class="form-control child_size_of_parent" placeholder="Search for...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
              </span>
            </div>
          </div>
        </div>
        </form>

      </div>
    </header>

    <div class="flex_div">
      <div id="left_div">
         <a href="{{=URL('default','collections')}}"><button class="btn btn-primary small_margins full_width">My collections</button><br></a>
         <button onclick="redirIfAllowed('wishlist')" class="btn btn-primary small_margins full_width">My wishlist</button><br>
         <button onclick="redirIfAllowed('have_list')" class="btn btn-primary small_margins full_width">My have list</button><br>
         <button onclick="redirIfAllowed('trade_history')" class="btn btn-primary small_margins full_width">My transactions</button><br>
         <a href="{{=URL('default','advanced_search')}}"><button class="btn btn-primary small_margins full_width">Advanced search</button></a>
      </div>
