@font-face { font-family: open-dyslexic; src: url('ttf/OpenDyslexic-Regular.ttf'); }


header
{
	min-width: 835px;
	overflow:auto;
}

body
{
	background-color: #F5F5F5;
	word-wrap: break-word;
}
#header_top
{
	background-color: #051c2e;
	overflow: auto;
	border-bottom: 1px solid #051c2e;
}

#header_bottom
{
	display: -webkit-flex;
  display: flex;
}

.centered
 {
	text-align: center;
}

.sml_spacing
{
	margin-left: 5px;
}

.med_spacing
{
	margin-left: 10px;
}

.big_spacing
{
	margin-left: 20px;
}

.header_left
{
	float: left;
	overflow: auto;
	-webkit-flex: none;
	flex: none;
}

.header_right
{
	float: right;
	overflow: auto;
}

.container
{
	position: relative;
}

.small_margins
{
	margin: 5px;
}

.picture
{
	border-radius: 10px;
	overflow: hidden;
	vertical-align: baseline; /* default need to prevent bootstrap's middle*/
}

.clickable
{
	cursor: pointer;
}

#left_div
{
	-webkit-flex: none;
          flex: none;
  width: 250px;
	background-color: #edd9c0;
}

#right_div
{
	-webkit-flex: none;
          flex: none;
	width: 200px;
	background-color: #c9d8c5;
}

#middle_div
{
	-webkit-flex: 3;
          flex: 3;
	background-color: #fae596;
	min-width: 530px;
}

.full_width
{
	width: calc(100% - 10px);
}

.dyslexia
{
	font-family: open-dyslexic;
}

#dyslexia_btn.dyslexia
{
	font-weight: bold;
}

.child_size_of_parent
{
	height: 100%;
}

.high_contrast * {
  background-color: yellow!important;
  background-image: none!important;
  color: black!important;
}

div .high_contrast
{
	border: 1px solid black;
}

#high_contrast_btn.high_contrast
{
	font-weight: bold;
}

span.centered:first-child
{
  background-color: #f8f;
  float: left;
}

span.centered:last-child
{
  background-color: #8ff;
  float: right;
}

.item_placeholder
{
	height: 100px;
	width: 100px;
}

#search_div
{
	#position: absolute;
	#left: calc(50% - 160px);
	#padding-top: 40px;
}

.item_view
{
  display: inline-block;
  width: 170px;
  height: 100px;
  margin: 1px 0px 0px 0px;
	text-align: center;
	margin-bottom: 20px;
}


img.item_view
{
	width: 170px;
	height: 80px;
}

.item_view_sm
{
	display: inline-block;
	width: 100px;
	height: 80px;
	margin: 1px 0px 0px 0px;
	text-align: center;
}

img.item_view_sm
{
	width: 100px;
	height: 70px;
	margin-bottom: : 20px;
}
.properly_centered
{
  display: -webkit-flex;
	-webkit-flex: 3;
          flex: 3;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.collection_span
{
	font-size: 30px;
}

.flex_div
{
	display: -webkit-flex; display: flex;
}

.min250px
{
	min-width: 250px;
}

.min150px
{
	min-width: 150px;
}

.selected
{
	border: 5px solid blue;
}
