@font-face { font-family: open-dyslexic; src: url('ttf/OpenDyslexic-Regular.ttf'); }


header
{
	min-width: 980px;
	overflow:auto;
}

body
{
	background-color: #F5F5F5;
	word-wrap: break-word;
}
#header_top
{
	background-color: #051c2e;
	overflow: auto;
	border-bottom: 1px solid #051c2e;
	min-width: 980px;
}

#header_bottom
{
	display: -webkit-flex;
  display: flex;
}

.centered {text-align: center;}

.sml_spacing {margin-left: 5px;}

.med_spacing {margin-left: 10px;}

.big_spacing {margin-left: 20px;}

.header_left
{
	float: left;
	overflow: auto;
	-webkit-flex: none;
	flex: none;
	min-width: 600px;
}

.header_right
{
	float: right;
	overflow: auto;
	min-width: 100px;
	text-align: right;
}

.container {position: relative;}

.small_margins {margin: 5px;}

.middle_margins {margin: 15px;}

.picture
{
	border-radius: 10px;
	overflow: hidden;
	vertical-align: baseline; /* default need to prevent bootstrap's middle*/
}

.clickable {cursor: pointer;}

#left_div
{
	-webkit-flex: none;
          flex: none;
  width: 250px;
	background-color: #edd9c0;
}

#right_div
{
	-webkit-flex: none;
          flex: none;
	width: 200px;
	background-color: #c9d8c5;
}

#middle_div
{
	-webkit-flex: 3;
          flex: 3;
	background-color: #fae596;
	min-width: 530px;
}

.full_width {width: calc(100% - 10px);}

.dyslexia {font-family: open-dyslexic;}

#dyslexia_btn.dyslexia {font-weight: bold;}

.child_size_of_parent {height: 100%;}

.high_contrast * {
  background-color: yellow!important;
  background-image: none!important;
  color: black!important;
}

div .high_contrast {border: 1px solid black;}

#high_contrast_btn.high_contrast {font-weight: bold;}

span.centered:first-child
{
  background-color: #f8f;
  float: left;
}

span.centered:last-child
{
  background-color: #8ff;
  float: right;
}

.item_placeholder
{
	height: 100px;
	width: 100px;
}

#search_div {width: 400px;}

div.item_view
{
  display: inline-block;
  width: 170px;
  height: 120px;
  margin: 1px 0px 0px 0px;
	text-align: center;
	padding-bottom: 15px;
	border-radius: 10px;
	border: 2px solid black;
	overflow: hidden;
}

div.others_div
{
	display: inline-block;
	width: 170px;
  height: 120px;
	text-align: center;
	line-height: 120px;
	border-radius: 10px;
	border: 2px solid black;
}

img.item_view
{
	border-radius: 10px;
	width: 170px;
	height: 80px;
}

div.item_view_sm
{
	display: inline-block;
	width: 110px;
	height: 115px;
	margin: 1px 0px 0px 0px;
	text-align: center;
	padding-bottom: 15px;
	border-radius: 5px;
	border: 2px solid black;
	overflow: hidden;
}

img.item_view_sm
{
	width: 110px;
	height: 70px;
	margin-bottom: : 15px;
}
.properly_centered
{
  display: -webkit-flex;
	-webkit-flex: 3;
          flex: 3;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.collection_span {font-size: 30px;}

.flex_div {display: -webkit-flex; display: flex;}

.min250px {min-width: 250px;}

.min150px {min-width: 150px;}

.selected {border: 5px solid blue;}

button.transp {background-color: inherit;}

.glyphicon {font-size: 25px;}

.h_with_icons {display:inline;}

#sortable1, #sortable2, #sortable3, #sortable4 {
		border: 1px solid black;
		width: 142px;
		min-height: 200px;
		list-style-type: none;
		margin: 0;
		padding: 5px 0 0 0;
		float: left;
		margin-right: 10px;
	}
	#sortable1 li, #sortable2 li #sortable3 li, #sortable4 li{
		margin: 0 5px 5px 5px;
		padding: 5px;
		font-size: 1.2em;
		width: 120px;
	}

	#propose_trade {margin-top: 25px;}

	.go_left {float: left;}

	#better_trade_view
	{
		float: right;
		margin-right: 20px;
	}
